<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>在线二维码生成器 - IT魔君</title>
    <script>
        function genQRCode() {
            var text = document.getElementById("text").value;
            var qrcode = document.getElementById("qrcode");

            qrcode.src = "192.168.9.146?text=" + text;
        }
    </script>
</head>

<body>
    <input type="text" id="text" /><br /><br />
    <button type="button" onclick="genQRCode()">生 成</button>
    <hr />
    <img src="" id="qrcode" />
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>二维码生成首页</title>
</head>

<body>
    <form action="/shouye" method="post">
        请输入文本::<textarea name="text" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="生成">
        <form>
</body>

</html>